<a href="https://colab.research.google.com/gist/abhishekg2389/10def1de02ac2b280201e17fc93962c5/welcome-to-colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install tabula-py

Requirement already satisfied: tabula-py in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from tabula-py) (0.24.2)
Requirement already satisfied: distro in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.4.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.24.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.16.4)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->tabula-py) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->tabula-py) (2.5.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas->tabula-py) (1.12.0)

In [0]:
import tabula

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving INDvsSA.pdf to INDvsSA (3).pdf

KeyboardInterrupt: ignored

In [0]:
df = []

for i in range(4802):
  df_ = tabula.read_pdf("INDvsSA.pdf", pages=[i])
  print(i)
  print("\n")
  df.append(df_)

Error:

CalledProcessError: ignored

In [0]:
len(df)

In [0]:
df

[                         0  ...                                       9
 0                      NaN  ...             Invite code: 1qzw6fc9amtgc_
 1              User (Team)  ...                     Player 10 Player 11
 2        0 0 0 0 AAAAA (4)  ...       Rassie van der-Dussen Virat Kohli
 3        0 0 0 0 AAAAA (6)  ...            Virat Kohli Yuzvendra Chahal
 4    0 0 0 7 2 1 0 0 0 (2)  ...        Quinton de Kock Yuzvendra Chahal
 5          0 0 0 X Y Z (2)  ...         Shikhar Dhawan Yuzvendra Chahal
 6    0 Damaged Jasmine (1)  ...          Quinton de Kock Tabraiz Shamsi
 7              0 Dhruv (1)  ...            Virat Kohli Yuzvendra Chahal
 8   0 jai ambe mata sarjoo  ...           Shikhar Dhawan Tabraiz Shamsi
 9                      (1)  ...                                     NaN
 10  0 jai ambe mata sarjoo  ...              Tabraiz Shamsi Virat Kohli
 11                     (2)  ...                                     NaN
 12  0 jai ambe mata sarjoo  ...              Tabraiz Shamsi Virat Kohli
 13                     (3)  ...                                     NaN
 14  0 jai ambe mata sarjoo  ...              Tabraiz Shamsi Virat Kohli
 15                     (4)  ...                                     NaN
 16  0 jai ambe mata sarjoo  ...           Kedar Jadhav Yuzvendra Chahal
 17                     (5)  ...                                     NaN
 18  0 jai ambe mata sarjoo  ...             Rohit Sharma Tabraiz Shamsi
 19                     (6)  ...                                     NaN
 20      00 Vijay Kumar (2)  ...            Quinton de Kock Rohit Sharma
 21            000 0000 (1)  ...         Tabraiz Shamsi Yuzvendra Chahal
 22         000 is back (1)  ...           Rohit Sharma Yuzvendra Chahal
 23         000 is back (2)  ...          Quinton de Kock Shikhar Dhawan
 24           00000 win (1)  ...            Virat Kohli Yuzvendra Chahal
 25           00000 win (5)  ...       Rassie van der-Dussen Virat Kohli
 26         0000000 CSK (1)  ...           Rohit Sharma Yuzvendra Chahal
 27        000000000 saurav  ...          Quinton de Kock Tabraiz Shamsi
 28              dhakad (1)  ...                                     NaN
 29    00000000000000000000  ...            Virat Kohli Yuzvendra Chahal
 ..                     ...  ...                                     ...
 41         00000000011 (1)  ...        Quinton de Kock Yuzvendra Chahal
 42         00000000011 (2)  ...            Virat Kohli Yuzvendra Chahal
 43         00000000011 (3)  ...        Quinton de Kock Yuzvendra Chahal
 44      0000000007raju (2)  ...               MS Dhoni Yuzvendra Chahal
 45      0000000007raju (3)  ...             Quinton de Kock Virat Kohli
 46          0000000035 (1)  ...            Virat Kohli Yuzvendra Chahal
 47          0000000035 (2)  ...            Virat Kohli Yuzvendra Chahal
 48          0000000035 (3)  ...    Rassie van der-Dussen Shikhar Dhawan
 49          0000000035 (4)  ...            Virat Kohli Yuzvendra Chahal
 50          0000000035 (5)  ...            Virat Kohli Yuzvendra Chahal
 51          0000000035 (6)  ...            Virat Kohli Yuzvendra Chahal
 52      00000004444444 (2)  ...  Rassie van der-Dussen Yuzvendra Chahal
 53      00000004444444 (3)  ...                Rohit Sharma Virat Kohli
 54            0000000B (1)  ...              Tabraiz Shamsi Virat Kohli
 55           0000000UM (2)  ...         Shikhar Dhawan Yuzvendra Chahal
 56          0000002142 (1)  ...              Tabraiz Shamsi Virat Kohli
 57          0000002142 (2)  ...  Rassie van der-Dussen Yuzvendra Chahal
 58      00000028Sj34FG (1)  ...    Rassie van der-Dussen Shikhar Dhawan
 59            00000045 (2)  ...            Quinton de Kock Rohit Sharma
 60    0000009467811294 (1)  ...         Tabraiz Shamsi Yuzvendra Chahal
 61            000000kd (1)  ...           Lokesh Rahul Yuzvendra Chahal
 62  000000lekhrajlucky (1)  ...             Quinton de Kock Virat Kohli
 63  000000lekhrajlucky (4)  ...    Rassie van der-Dussen Shikhar Dhawan
 64           000000nsb (1)  ...            Virat Kohli Yuzvendra Chahal
 65       0000011100000 (1)  ...            Tabraiz Shamsi Vijay Shankar
 66       0000011100000 (2)  ...    Rassie van der-Dussen Tabraiz Shamsi
 67            00000567 (3)  ...              Tabraiz Shamsi Virat Kohli
 68            000007AJ (3)  ...  Rassie van der-Dussen Yuzvendra Chahal
 69     000007Dhoni fan (1)  ...              Tabraiz Shamsi Virat Kohli
 70          000007koli (3)  ...                 MS Dhoni Shikhar Dhawan

 [71 rows x 10 columns],                        0   ...                     11
 0             User (Team)  ...              Player 11
 1         00000861984 (2)  ...            Virat Kohli
 2          00000ghjjj (2)  ...       Yuzvendra Chahal
 3            00001112 (6)  ...       Yuzvendra Chahal
 4         00001sakthi (1)  ...       Yuzvendra Chahal
 5            00001sel (1)  ...       Yuzvendra Chahal
 6              000024 (3)  ...       Yuzvendra Chahal
 7              000067 (1)  ...            Virat Kohli
 8       00007 Ronaldo (2)  ...       Yuzvendra Chahal
 9       00007 Ronaldo (3)  ...       Yuzvendra Chahal
 10      00007 Ronaldo (4)  ...       Yuzvendra Chahal
 11      00007 Ronaldo (5)  ...       Yuzvendra Chahal
 12      00007 Ronaldo (6)  ...       Yuzvendra Chahal
 13            0000ads (1)  ...       Yuzvendra Chahal
 14            0000sat (1)  ...       Yuzvendra Chahal
 15         000108hari (4)  ...       Yuzvendra Chahal
 16           0001PUNB (2)  ...       Yuzvendra Chahal
 17         0001punjab (1)  ...            Virat Kohli
 18    0001thakursahab (5)  ...       Yuzvendra Chahal
 19    0001thakursahab (6)  ...       Yuzvendra Chahal
 20            0007 mj (1)  ...            Virat Kohli
 21       0007 pratham (1)  ...       Yuzvendra Chahal
 22             000782 (1)  ...         Tabraiz Shamsi
 23             000782 (2)  ...         Tabraiz Shamsi
 24             000782 (3)  ...         Shikhar Dhawan
 25             000782 (4)  ...         Shikhar Dhawan
 26             000782 (5)  ...       Yuzvendra Chahal
 27             000782 (6)  ...       Yuzvendra Chahal
 28        00078611 HM (4)  ...            Virat Kohli
 29              0007T (3)  ...  Rassie van der-Dussen
 ..                    ...  ...                    ...
 39          000sim000 (1)  ...            Virat Kohli
 40             000tem (1)  ...       Yuzvendra Chahal
 41     001 No tension (1)  ...       Yuzvendra Chahal
 42            0029raj (3)  ...       Yuzvendra Chahal
 43             003lok (2)  ...       Yuzvendra Chahal
 44          004tom XI (1)  ...       Yuzvendra Chahal
 45              00676 (1)  ...       Yuzvendra Chahal
 46             006xyz (1)  ...            Virat Kohli
 47             006xyz (2)  ...            Virat Kohli
 48             006xyz (3)  ...       Yuzvendra Chahal
 49     007 bhadja 007 (1)  ...       Yuzvendra Chahal
 50   007 charli angel (2)  ...       Yuzvendra Chahal
 51          007 fiter (2)  ...         Tabraiz Shamsi
 52    007 only satara (1)  ...         Tabraiz Shamsi
 53              007 s (1)  ...         Shikhar Dhawan
 54              007 s (2)  ...         Tabraiz Shamsi
 55              007 s (3)  ...         Shikhar Dhawan
 56       007 strikers (1)  ...            Virat Kohli
 57  007 Tanu kartavya win  ...       Yuzvendra Chahal
 58                    (1)  ...                    NaN
 59             007555 (1)  ...         Shikhar Dhawan
 60       007commandos (1)  ...            Virat Kohli
 61            007dewa (4)  ...         Tabraiz Shamsi
 62           007Dilip (2)  ...        Quinton de Kock
 63     007GAMECHANGER (2)  ...       Yuzvendra Chahal
 64       007jamesbomd (1)  ...         Tabraiz Shamsi
 65         007Pradeep (1)  ...         Shikhar Dhawan
 66       007priyajeet (2)  ...        Quinton de Kock
 67     007PuneStriker (1)  ...       Yuzvendra Chahal
 68     007PuneStriker (2)  ...       Yuzvendra Chahal

 [69 rows x 12 columns]]

In [0]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [0]:
import pandas as pd
import itertools as itr
import numpy as np

In [9]:
playerList = pd.DataFrame(data = [
    ["Klaus Mendis", "SL" , 0, 0, 1, 0,  9.0, 4 ,   2.0],
    ["K Perera"    , "SL" , 0, 0, 1, 0,  9.0, 2 ,  69.5],
    ["D Karuratane", "SL" , 1, 0, 0, 0,  9.5, 1 ,  60.5],
    ["A Mathews"   , "SL" , 1, 0, 0, 0,  9.5, 5 ,   2.0],
    ["L Thirimanne", "SL" , 1, 0, 0, 0,  8.5, 3 ,  19.5],
    ["A Fernando"  , "SL" , 1, 0, 0, 0,  8.0, 0 ,   0.0],
    ["T Perera"    , "SL" , 0, 0, 0, 1,  9.5, 7 ,  36.5],
    ["D D Silva"   , "SL" , 0, 0, 0, 1,  8.0, 6 ,   3.5],
    ["M Siriwardna", "SL" , 0, 0, 0, 1,  8.0, 0 ,   0.0],
    ["J Mendis"    , "SL" , 0, 0, 0, 1,  8.0, 0 ,   2.5],
    ["L Malinga"   , "SL" , 0, 1, 0, 0,  9.5, 11,  40.0],
    ["S Lakmal"    , "SL" , 0, 1, 0, 0,  8.5, 10,  17.5],
    ["I Udana"     , "SL" , 0, 1, 0, 0,  8.5, 8 ,  22.0],
    ["N Pradeep"   , "SL" , 0, 1, 0, 0,  8.0, 9 ,  56.0],
    ["J Vandersay" , "SL" , 0, 1, 0, 0,  7.5, 0 ,   0.0],
    
    ["S Ahmed"     , "PAK", 0, 0, 1, 0,  8.5, 5 ,  52.5],
    ["B Azam"      , "PAK", 1, 0, 0, 0, 10.5, 3 ,  56.5],
    ["Imam-ul-haq" , "PAK", 1, 0, 0, 0,  9.5, 1 ,  29.5],
    ["F Zaman"     , "PAK", 1, 0, 0, 0,  9.0, 2 ,  42.0],
    ["H Sohail"    , "PAK", 1, 0, 0, 0,  8.5, 0 ,   6.5],
    ["A Ali"       , "PAK", 1, 0, 0, 0,  8.0, 7 ,  10.0],
    ["M Hafeez"    , "PAK", 0, 0, 0, 1,  9.0, 4 ,  83.0],
    ["I Wasim"     , "PAK", 0, 0, 0, 1,  8.5, 0 ,   2.5],
    ["S Malik"     , "PAK", 0, 0, 0, 1,  8.5, 6 ,  18.0],
    ["M Amir"      , "PAK", 0, 1, 0, 0,  9.0, 11,  66.5],
    ["S Afridi"    , "PAK", 0, 1, 0, 0,  8.5, 0 ,   0.0],
    ["Hasan Ali"   , "PAK", 0, 1, 0, 0,  8.5, 9 ,  10.5],
    ["S Khan"      , "PAK", 0, 1, 0, 0,  8.5, 8 ,  35.0],
    ["W Riaz"      , "PAK", 0, 1, 0, 0,  8.5, 10,  62.0],
    ["M Hasnain"   , "PAK", 0, 1, 0, 0,  8.0, 0 ,   0.0],
    
    ["Q De Kock"   , "SA" , 0, 0, 1, 0, 10.0, 1 ,  86.0],
    ["F Du Plessis", "SA" , 1, 0, 0, 0, 10.0, 3 ,  82.5],
    ["H Amla"      , "SA" , 1, 0, 0, 0,  9.0, 2 ,  17.5],
    ["D Miller"    , "SA" , 1, 0, 0, 0,  8.5, 5 ,  40.0],
    ["R Van Der"   , "SA" , 1, 0, 0, 0,  8.5, 4 ,  73.0],
    ["A Markram"   , "SA" , 1, 0, 0, 0,  8.0, 0 ,  38.0],
    ["J Duminy"    , "SA" , 0, 0, 0, 1,  8.5, 6 ,  40.5],
    ["C Morris"    , "SA" , 0, 0, 0, 1,  8.5, 8 ,  79.0],
    ["A Phelukwayo", "SA" , 0, 0, 0, 1,  8.5, 7 ,  96.5],
    ["D Pretorius" , "SA" , 0, 0, 0, 1,  8.0, 0 ,   2.5],
    ["I Tahir"     , "SA" , 0, 1, 0, 0,  9.0, 10,  59.0],
    ["K Rabada"    , "SA" , 0, 1, 0, 0,  9.0, 9 ,  87.5],
    ["L Ngidi"     , "SA" , 0, 1, 0, 0,  8.5, 0 ,  44.0],
    ["B Hendricks" , "SA" , 0, 1, 0, 0,  8.0, 11,   2.0],
    ["T Shamsi"    , "SA" , 0, 1, 0, 0,  8.0, 0 ,   2.0],
    
    ["S Hope"      , "WI", 0, 0, 1, 0,  9.5, 3 ,  81.5],
    ["N Pooran"    , "WI", 0, 0, 1, 0,  8.5, 4 ,  52.5],
    ["C Gayle"     , "WI", 1, 0, 0, 0, 10.0, 1 ,  53.5],
    ["S Hetmyer"   , "WI", 1, 0, 0, 0,  9.0, 5 ,  23.5],
    ["D Bravo"     , "WI", 1, 0, 0, 0,  8.5, 0 ,  -1.0],
    ["E Lewis"     , "WI", 1, 0, 0, 0,  8.5, 2 ,   2.5],
    ["A Russell"   , "WI", 0, 0, 0, 1,  9.5, 7 ,  63.5],
    ["J Holder"    , "WI", 0, 0, 0, 1,  9.0, 6 ,  95.0],
    ["C Brathwaite", "WI", 0, 0, 0, 1,  8.5, 8 ,  49.5],
    ["F Allen"     , "WI", 0, 0, 0, 1,  7.5, 0 ,   0.0],
    ["K Roach"     , "WI", 0, 1, 0, 0,  8.5, 0 ,   0.0],
    ["S Gabriel"   , "WI", 0, 1, 0, 0,  8.5, 0 ,   0.0],
    ["S Cottrell"  , "WI", 0, 1, 0, 0,  8.5, 11,  56.5],
    ["O Thomas"    , "WI", 0, 1, 0, 0,  8.5, 10,  78.0],
    ["A Nurse"     , "WI", 0, 1, 0, 0,  8.0, 9 ,  15.5],
], columns = ["name", "team", "bat", "bowl", "wk", "allr", "score", "p11", "points"])

playerList

            name team  bat  bowl  wk  allr  score  p11  points
0   Klaus Mendis   SL    0     0   1     0    9.0    4     2.0
1       K Perera   SL    0     0   1     0    9.0    2    69.5
2   D Karuratane   SL    1     0   0     0    9.5    1    60.5
3      A Mathews   SL    1     0   0     0    9.5    5     2.0
4   L Thirimanne   SL    1     0   0     0    8.5    3    19.5
5     A Fernando   SL    1     0   0     0    8.0    0     0.0
6       T Perera   SL    0     0   0     1    9.5    7    36.5
7      D D Silva   SL    0     0   0     1    8.0    6     3.5
8   M Siriwardna   SL    0     0   0     1    8.0    0     0.0
9       J Mendis   SL    0     0   0     1    8.0    0     2.5
10     L Malinga   SL    0     1   0     0    9.5   11    40.0
11      S Lakmal   SL    0     1   0     0    8.5   10    17.5
12       I Udana   SL    0     1   0     0    8.5    8    22.0
13     N Pradeep   SL    0     1   0     0    8.0    9    56.0
14   J Vandersay   SL    0     1   0     0    7.5    0     0.0
15       S Ahmed  PAK    0     0   1     0    8.5    5    52.5
16        B Azam  PAK    1     0   0     0   10.5    3    56.5
17   Imam-ul-haq  PAK    1     0   0     0    9.5    1    29.5
18       F Zaman  PAK    1     0   0     0    9.0    2    42.0
19      H Sohail  PAK    1     0   0     0    8.5    0     6.5
20         A Ali  PAK    1     0   0     0    8.0    7    10.0
21      M Hafeez  PAK    0     0   0     1    9.0    4    83.0
22       I Wasim  PAK    0     0   0     1    8.5    0     2.5
23       S Malik  PAK    0     0   0     1    8.5    6    18.0
24        M Amir  PAK    0     1   0     0    9.0   11    66.5
25      S Afridi  PAK    0     1   0     0    8.5    0     0.0
26     Hasan Ali  PAK    0     1   0     0    8.5    9    10.5
27        S Khan  PAK    0     1   0     0    8.5    8    35.0
28        W Riaz  PAK    0     1   0     0    8.5   10    62.0
29     M Hasnain  PAK    0     1   0     0    8.0    0     0.0
30     Q De Kock   SA    0     0   1     0   10.0    1    86.0
31  F Du Plessis   SA    1     0   0     0   10.0    3    82.5
32        H Amla   SA    1     0   0     0    9.0    2    17.5
33      D Miller   SA    1     0   0     0    8.5    5    40.0
34     R Van Der   SA    1     0   0     0    8.5    4    73.0
35     A Markram   SA    1     0   0     0    8.0    0    38.0
36      J Duminy   SA    0     0   0     1    8.5    6    40.5
37      C Morris   SA    0     0   0     1    8.5    8    79.0
38  A Phelukwayo   SA    0     0   0     1    8.5    7    96.5
39   D Pretorius   SA    0     0   0     1    8.0    0     2.5
40       I Tahir   SA    0     1   0     0    9.0   10    59.0
41      K Rabada   SA    0     1   0     0    9.0    9    87.5
42       L Ngidi   SA    0     1   0     0    8.5    0    44.0
43   B Hendricks   SA    0     1   0     0    8.0   11     2.0
44      T Shamsi   SA    0     1   0     0    8.0    0     2.0
45        S Hope   WI    0     0   1     0    9.5    3    81.5
46      N Pooran   WI    0     0   1     0    8.5    4    52.5
47       C Gayle   WI    1     0   0     0   10.0    1    53.5
48     S Hetmyer   WI    1     0   0     0    9.0    5    23.5
49       D Bravo   WI    1     0   0     0    8.5    0    -1.0
50       E Lewis   WI    1     0   0     0    8.5    2     2.5
51     A Russell   WI    0     0   0     1    9.5    7    63.5
52      J Holder   WI    0     0   0     1    9.0    6    95.0
53  C Brathwaite   WI    0     0   0     1    8.5    8    49.5
54       F Allen   WI    0     0   0     1    7.5    0     0.0
55       K Roach   WI    0     1   0     0    8.5    0     0.0
56     S Gabriel   WI    0     1   0     0    8.5    0     0.0
57    S Cottrell   WI    0     1   0     0    8.5   11    56.5
58      O Thomas   WI    0     1   0     0    8.5   10    78.0
59       A Nurse   WI    0     1   0     0    8.0    9    15.5

In [10]:
team1 = "WI"
team2 = "SA"
p22 = playerList[((playerList.team == team1) | (playerList.team == team2)) & (playerList.p11 > 0)].reset_index(drop=True)
p22.shape
p22

(22, 9)

            name team  bat  bowl  wk  allr  score  p11  points
0      Q De Kock   SA    0     0   1     0   10.0    1    86.0
1   F Du Plessis   SA    1     0   0     0   10.0    3    82.5
2         H Amla   SA    1     0   0     0    9.0    2    17.5
3       D Miller   SA    1     0   0     0    8.5    5    40.0
4      R Van Der   SA    1     0   0     0    8.5    4    73.0
5       J Duminy   SA    0     0   0     1    8.5    6    40.5
6       C Morris   SA    0     0   0     1    8.5    8    79.0
7   A Phelukwayo   SA    0     0   0     1    8.5    7    96.5
8        I Tahir   SA    0     1   0     0    9.0   10    59.0
9       K Rabada   SA    0     1   0     0    9.0    9    87.5
10   B Hendricks   SA    0     1   0     0    8.0   11     2.0
11        S Hope   WI    0     0   1     0    9.5    3    81.5
12      N Pooran   WI    0     0   1     0    8.5    4    52.5
13       C Gayle   WI    1     0   0     0   10.0    1    53.5
14     S Hetmyer   WI    1     0   0     0    9.0    5    23.5
15       E Lewis   WI    1     0   0     0    8.5    2     2.5
16     A Russell   WI    0     0   0     1    9.5    7    63.5
17      J Holder   WI    0     0   0     1    9.0    6    95.0
18  C Brathwaite   WI    0     0   0     1    8.5    8    49.5
19    S Cottrell   WI    0     1   0     0    8.5   11    56.5
20      O Thomas   WI    0     1   0     0    8.5   10    78.0
21       A Nurse   WI    0     1   0     0    8.0    9    15.5

In [0]:
p22 = p22[p22.p11 < 11].reset_index(drop=True)

In [0]:
%%time

teams = []
for wk_num in [1, 2, 3, 4]:
  print(len(teams))
  for wk_comb in itr.combinations(p22[p22.wk == 1].index, wk_num):
    wks = p22.iloc[list(wk_comb), :]
    for bat_num in [3, 4, 5, 6]:
      for bat_comb in itr.combinations(p22[p22.bat == 1].index, bat_num):
        bats = p22.iloc[list(bat_comb), :]
        for allr_num in [1, 2, 3, 4]:
          if len(wks) + len(bats) + allr_num + 3 > 11:
            break
          for allr_comb in itr.combinations(p22[p22.allr == 1].index, allr_num):
            allrs = p22.iloc[list(allr_comb), :]
            for bowl_comb in itr.combinations(p22[p22.bowl == 1].index, 11 - len(wks) - len(bats) - len(allrs)):
              bowls = p22.iloc[list(bowl_comb), :]
              team = pd.concat([wks, bats, allrs, bowls])
              if(team.score.sum() > 100 or team[team.team == team1].shape[0] > 7 or team[team.team == team2].shape[0] > 7):
                continue
              team["teamid"] = len(teams)
              team = team.reset_index(drop = True)
              teams.append(team)

teams = pd.concat(teams)

0

KeyboardInterrupt: ignored


```
0
42243
82695
91169
CPU times: user 12min 26s, sys: 2.18 s, total: 12min 28s
Wall time: 12min 27s
```

In [18]:
p22_wkidx = list(p22[p22.wk == 1].index)
p22_batidx = list(p22[p22.bat == 1].index)
p22_allridx = list(p22[p22.allr == 1].index)
p22_bowlidx = list(p22[p22.bowl == 1].index)

p22_wkidx
p22_batidx
p22_allridx
p22_bowlidx

[0, 11, 12]

[1, 2, 3, 4, 13, 14, 15]

[5, 6, 7, 16, 17, 18]

[8, 9, 10, 19, 20, 21]

In [38]:
from numba import jit

teams = np.zeros((1000000, 11))
teams_count = 0

@jit(nopython=True)
def get_wk_comb(p22_wkidx, p22_batidx, p22_allridx, p22_bowlidx, wk_num, rest_team, filled_upto, teams, teams_count):
  count = 0
  if wk_num == 1:
    for i, wk_num_1 in enumerate(p22_wkidx):
      rest_team[filled_upto+1] = wk_num_1
      count += 1
      for bat_num in [3, 4, 5, 6]:
        teams, teams_count = get_bat_comb(p22_batidx, p22_allridx, p22_bowlidx, bat_num, rest_team, filled_upto + 1, teams, teams_count)
  elif wk_num == 2:
    for i, wk_num_1 in enumerate(p22_wkidx[:-1]):
      rest_team[filled_upto+1] = wk_num_1
      for j, wk_num_2 in enumerate(p22_wkidx[i+1:]):
        rest_team[filled_upto+2] = wk_num_2
        count += 1
        for bat_num in [3, 4, 5, 6]:
          teams, teams_count = get_bat_comb(p22_batidx, p22_allridx, p22_bowlidx, bat_num, rest_team, filled_upto + 2, teams, teams_count)
  elif wk_num == 3:
    for i, wk_num_1 in enumerate(p22_wkidx[:-2]):
      rest_team[filled_upto+1] = wk_num_1
      for j, wk_num_2 in enumerate(p22_wkidx[i+1:-1]):
        rest_team[filled_upto+2] = wk_num_2
        for k, wk_num_3 in enumerate(p22_wkidx[i+j+2:]):
          rest_team[filled_upto+3] = wk_num_3
          count += 1
          for bat_num in [3, 4, 5, 6]:
            teams, teams_count = get_bat_comb(p22_batidx, p22_allridx, p22_bowlidx, bat_num, rest_team, filled_upto + 3, teams, teams_count)
  elif wk_num == 4:
    for i, wk_num_1 in enumerate(p22_wkidx[:-3]):
      rest_team[filled_upto+1] = wk_num_1
      for j, wk_num_2 in enumerate(p22_wkidx[i+1:-2]):
        rest_team[filled_upto+2] = wk_num_2
        for k, wk_num_3 in enumerate(p22_wkidx[i+j+2:-1]):
          rest_team[filled_upto+3] = wk_num_3
          for l, wk_num_4 in enumerate(p22_wkidx[i+j+k+3:]):
            rest_team[filled_upto+4] = wk_num_4
            count += 1
            for bat_num in [3, 4, 5, 6]:
              teams, teams_count = get_bat_comb(p22_batidx, p22_allridx, p22_bowlidx, bat_num, rest_team, filled_upto + 4, teams, teams_count)
  #print("wk")
  #print(count)
  return((teams, teams_count))

@jit(nopython=True)
def get_bat_comb(p22_batidx, p22_allridx, p22_bowlidx, bat_num, rest_team, filled_upto, teams, teams_count):
  count = 0
  if bat_num == 3:
    for i, bat_num_1 in enumerate(p22_batidx[:-2]):
      rest_team[filled_upto+1] = bat_num_1
      for j, bat_num_2 in enumerate(p22_batidx[i+1:-1]):
        rest_team[filled_upto+2] = bat_num_2
        for k, bat_num_3 in enumerate(p22_batidx[i+j+2:]):
          rest_team[filled_upto+3] = bat_num_3
          count += 1
          for allr_num in [1, 2, 3, 4]:
            if filled_upto + 3 + allr_num + 3 <= 11:
              teams, teams_count = get_allr_comb(p22_allridx, p22_bowlidx, allr_num, rest_team, filled_upto + 3, teams, teams_count)
  elif bat_num == 4:
    for i, bat_num_1 in enumerate(p22_batidx[:-3]):
      rest_team[filled_upto+1] = bat_num_1
      for j, bat_num_2 in enumerate(p22_batidx[i+1:-2]):
        rest_team[filled_upto+2] = bat_num_2
        for k, bat_num_3 in enumerate(p22_batidx[i+j+2:-1]):
          rest_team[filled_upto+3] = bat_num_3
          for l, bat_num_4 in enumerate(p22_batidx[i+j+k+3:]):
            rest_team[filled_upto+4] = bat_num_4
            count += 1
            for allr_num in [1, 2, 3, 4]:
              if filled_upto + 4 + allr_num + 3 <= 11:
                teams, teams_count = get_allr_comb(p22_allridx, p22_bowlidx, allr_num, rest_team, filled_upto + 4, teams, teams_count)
  elif bat_num == 5:
    for i, bat_num_1 in enumerate(p22_batidx[:-4]):
      rest_team[filled_upto+1] = bat_num_1
      for j, bat_num_2 in enumerate(p22_batidx[i+1:-3]):
        rest_team[filled_upto+2] = bat_num_2
        for k, bat_num_3 in enumerate(p22_batidx[i+j+2:-2]):
          rest_team[filled_upto+3] = bat_num_3
          for l, bat_num_4 in enumerate(p22_batidx[i+j+k+3:-1]):
            rest_team[filled_upto+4] = bat_num_4
            for m, bat_num_5 in enumerate(p22_batidx[i+j+k+l+4:]):
              rest_team[filled_upto+5] = bat_num_5
              count += 1
              for allr_num in [1, 2, 3, 4]:
                if filled_upto + 5 + allr_num + 3 <= 11:
                  teams, teams_count = get_allr_comb(p22_allridx, p22_bowlidx, allr_num, rest_team, filled_upto + 5, teams, teams_count)
  elif bat_num == 6:
    for i, bat_num_1 in enumerate(p22_batidx[:-5]):
      rest_team[filled_upto+1] = bat_num_1
      for j, bat_num_2 in enumerate(p22_batidx[i+1:-4]):
        rest_team[filled_upto+2] = bat_num_2
        for k, bat_num_3 in enumerate(p22_batidx[i+j+2:-3]):
          rest_team[filled_upto+3] = bat_num_3
          for l, bat_num_4 in enumerate(p22_batidx[i+j+k+3:-2]):
            rest_team[filled_upto+4] = bat_num_4
            for m, bat_num_5 in enumerate(p22_batidx[i+j+k+l+4:-1]):
              rest_team[filled_upto+5] = bat_num_5
              for n, bat_num_6 in enumerate(p22_batidx[i+j+k+l+m+5:]):
                rest_team[filled_upto+6] = bat_num_6
                count += 1
                for allr_num in [1, 2, 3, 4]:
                  if filled_upto + 6 + allr_num + 3 <= 11:
                    teams, teams_count = get_allr_comb(p22_allridx, p22_bowlidx, allr_num, rest_team, filled_upto + 6, teams, teams_count)
  #print("bat")
  #print(count)
  #print(rest_team)
  return((teams, teams_count))

@jit(nopython=True)
def get_allr_comb(p22_allridx, p22_bowlidx, allr_num, rest_team, filled_upto, teams, teams_count):
  count = 0
  if allr_num == 1:
    for i, allr_num_1 in enumerate(p22_allridx):
      rest_team[filled_upto+1] = allr_num_1
      count += 1
      teams, teams_count = get_bowl_comb(p22_bowlidx, 11 - filled_upto - 1 - 1, rest_team, filled_upto + 1, teams, teams_count)
  elif allr_num == 2:
    for i, allr_num_1 in enumerate(p22_allridx[:-1]):
      rest_team[filled_upto+1] = allr_num_1
      for j, allr_num_2 in enumerate(p22_allridx[i+1:]):
        rest_team[filled_upto+2] = allr_num_2
        count += 1
        teams, teams_count = get_bowl_comb(p22_bowlidx, 11 - filled_upto - 2 - 1, rest_team, filled_upto + 2, teams, teams_count)
  elif allr_num == 3:
    for i, allr_num_1 in enumerate(p22_allridx[:-2]):
      rest_team[filled_upto+1] = allr_num_1
      for j, allr_num_2 in enumerate(p22_allridx[i+1:-1]):
        rest_team[filled_upto+2] = allr_num_2
        for k, allr_num_3 in enumerate(p22_allridx[i+j+2:]):
          rest_team[filled_upto+3] = allr_num_3
          count += 1
          teams, teams_count = get_bowl_comb(p22_bowlidx, 11 - filled_upto - 3 - 1, rest_team, filled_upto + 3, teams, teams_count)
  elif allr_num == 4:
    for i, allr_num_1 in enumerate(p22_allridx[:-3]):
      rest_team[filled_upto+1] = allr_num_1
      for j, allr_num_2 in enumerate(p22_allridx[i+1:-2]):
        rest_team[filled_upto+2] = allr_num_2
        for k, allr_num_3 in enumerate(p22_allridx[i+j+2:-1]):
          rest_team[filled_upto+3] = allr_num_3
          for l, allr_num_4 in enumerate(p22_allridx[i+j+k+3:]):
            rest_team[filled_upto+4] = allr_num_4
            count += 1
            teams, teams_count = get_bowl_comb(p22_bowlidx, 11 - filled_upto - 4 - 1, rest_team, filled_upto + 4, teams, teams_count)
  #print("allr")
  #print(count)
  return((teams, teams_count))

@jit(nopython=True)
def get_bowl_comb(p22_bowlidx, bowl_num, rest_team, filled_upto, teams, teams_count):
  count = 0
  if bowl_num == 3:
    for i, bowl_num_1 in enumerate(p22_bowlidx[:-2]):
      rest_team[filled_upto+1] = bowl_num_1
      for j, bowl_num_2 in enumerate(p22_bowlidx[i+1:-1]):
        rest_team[filled_upto+2] = bowl_num_2
        for k, bowl_num_3 in enumerate(p22_bowlidx[i+j+2:]):
          rest_team[filled_upto+3] = bowl_num_3
          count += 1
          teams[teams_count] = rest_team
          teams_count += 1
  elif bowl_num == 4:
    for i, bowl_num_1 in enumerate(p22_bowlidx[:-3]):
      rest_team[filled_upto+1] = bowl_num_1
      for j, bowl_num_2 in enumerate(p22_bowlidx[i+1:-2]):
        rest_team[filled_upto+2] = bowl_num_2
        for k, bowl_num_3 in enumerate(p22_bowlidx[i+j+2:-1]):
          rest_team[filled_upto+3] = bowl_num_3
          for l, bowl_num_4 in enumerate(p22_bowlidx[i+j+k+3:]):
            rest_team[filled_upto+4] = bowl_num_4
            count += 1
            teams[teams_count] = rest_team
            teams_count += 1
  elif bowl_num == 5:
    for i, bowl_num_1 in enumerate(p22_bowlidx[:-4]):
      rest_team[filled_upto+1] = bowl_num_1
      for j, bowl_num_2 in enumerate(p22_bowlidx[i+1:-3]):
        rest_team[filled_upto+2] = bowl_num_2
        for k, bowl_num_3 in enumerate(p22_bowlidx[i+j+2:-2]):
          rest_team[filled_upto+3] = bowl_num_3
          for l, bowl_num_4 in enumerate(p22_bowlidx[i+j+k+3:-1]):
            rest_team[filled_upto+4] = bowl_num_4
            for m, bowl_num_5 in enumerate(p22_bowlidx[i+j+k+l+4:]):
              rest_team[filled_upto+5] = bowl_num_5
              count += 1
              teams[teams_count] = rest_team
              teams_count += 1
  elif bowl_num == 6:
    for i, bowl_num_1 in enumerate(p22_bowlidx[:-5]):
      rest_team[filled_upto+1] = bowl_num_1
      for j, bowl_num_2 in enumerate(p22_bowlidx[i+1:-4]):
        rest_team[filled_upto+2] = bowl_num_2
        for k, bowl_num_3 in enumerate(p22_bowlidx[i+j+2:-3]):
          rest_team[filled_upto+3] = bowl_num_3
          for l, bowl_num_4 in enumerate(p22_bowlidx[i+j+k+3:-2]):
            rest_team[filled_upto+4] = bowl_num_4
            for m, bowl_num_5 in enumerate(p22_bowlidx[i+j+k+l+4:-1]):
              rest_team[filled_upto+5] = bowl_num_5
              for n, bowl_num_6 in enumerate(p22_bowlidx[i+j+k+l+m+5:]):
                rest_team[filled_upto+6] = bowl_num_6
                count += 1
                teams[teams_count] = rest_team
                teams_count += 1
  #print("bowl")
  #print(count)
  return((teams, teams_count))

  
teams, teams_count = get_wk_comb  (p22_wkidx  , p22_batidx, p22_allridx, p22_bowlidx, 1, np.zeros((11,)), -1, teams, teams_count)
teams_count
teams, teams_count = get_wk_comb  (p22_wkidx  , p22_batidx, p22_allridx, p22_bowlidx, 2, np.zeros((11,)), -1, teams, teams_count)
teams_count
teams, teams_count = get_wk_comb  (p22_wkidx  , p22_batidx, p22_allridx, p22_bowlidx, 3, np.zeros((11,)), -1, teams, teams_count)
teams_count
teams, teams_count = get_wk_comb  (p22_wkidx  , p22_batidx, p22_allridx, p22_bowlidx, 4, np.zeros((11,)), -1, teams, teams_count)
teams_count
# get_bat_comb (p22_batidx , 6, np.zeros((11,)), -1)
# get_allr_comb(p22_allridx, 4, np.zeros((11,)), -1)
# get_bowl_comb(p22_bowlidx, 6, np.zeros((11,)), -1)

169575

287490

305340

305340

In [40]:
%%time

teams = [pd.DataFrame({"teamid":[i]*11, "p22id":x}) for i, x in enumerate(teams[:teams_count+1])]

CPU times: user 2min 49s, sys: 2.43 s, total: 2min 51s
Wall time: 2min 48s

In [41]:
%%time

teams = pd.concat(teams)

CPU times: user 42.9 s, sys: 2.1 s, total: 45 s
Wall time: 45 s

In [42]:
teams = teams.merge(p22.reset_index(), how='left', left_on='p22id', right_on='index')
teams.shape
teams.head()
teams.tail()

(3358751, 12)

   teamid  p22id  index          name team  ...  wk  allr  score  p11  points
0       0    0.0      0     Q De Kock   SA  ...   1     0   10.0    1    86.0
1       0    1.0      1  F Du Plessis   SA  ...   0     0   10.0    3    82.5
2       0    2.0      2        H Amla   SA  ...   0     0    9.0    2    17.5
3       0    3.0      3      D Miller   SA  ...   0     0    8.5    5    40.0
4       0    5.0      5      J Duminy   SA  ...   0     1    8.5    6    40.5

[5 rows x 12 columns]

         teamid  p22id  index       name team  ...  wk  allr  score  p11  points
3358746  305340    0.0      0  Q De Kock   SA  ...   1     0   10.0    1    86.0
3358747  305340    0.0      0  Q De Kock   SA  ...   1     0   10.0    1    86.0
3358748  305340    0.0      0  Q De Kock   SA  ...   1     0   10.0    1    86.0
3358749  305340    0.0      0  Q De Kock   SA  ...   1     0   10.0    1    86.0
3358750  305340    0.0      0  Q De Kock   SA  ...   1     0   10.0    1    86.0

[5 rows x 12 columns]

In [0]:
%%time

teams = []
for wk_num in [1, 2, 3, 4]:
  print(len(teams))
  for wk_comb in itr.combinations(p22[p22.wk == 1].index, wk_num):
    wks = p22.iloc[list(wk_comb), :]
    for bat_num in [3, 4, 5, 6]:
      for bat_comb in itr.combinations(p22[p22.bat == 1].index, bat_num):
        bats = p22.iloc[list(bat_comb), :]
        for allr_num in [1, 2, 3, 4]:
          if len(wks) + len(bats) + allr_num + 3 > 11:
            break
          for allr_comb in itr.combinations(p22[p22.allr == 1].index, allr_num):
            allrs = p22.iloc[list(allr_comb), :]
            for bowl_comb in itr.combinations(p22[p22.bowl == 1].index, 11 - len(wks) - len(bats) - len(allrs)):
              bowls = p22.iloc[list(bowl_comb), :]
              team = pd.concat([wks, bats, allrs, bowls])
              team["teamid"] = len(teams)
              team = team.reset_index(drop = True)
              teams.append(team)

teams = pd.concat(teams)

0
45990
90300
99400
CPU times: user 9min 6s, sys: 1.82 s, total: 9min 7s
Wall time: 9min 7s

In [0]:
teams.shape

(1002859, 10)

In [0]:
teams_stats = teams.groupby(by="teamid").apply(lambda x: pd.Series({
    "total_score" : x.score.sum(),
    "total_points": x.points.sum(),
    "#bat"        : x.bat.sum(),
    "#bowl"       : x.bowl.sum(),
    "#allr"       : x.allr.sum(),
    "#wk"         : x.wk.sum(),
    "#team1"      : x[x.team == team1].shape[0],
    "#team2"      : x[x.team == team2].shape[0],
})).reset_index()

teams_stats.shape
teams_stats.head()
teams_stats.tail()

In [67]:
teams_stats["invalid"] = 0
teams_stats.loc[(teams_stats.total_score > 100)|(teams_stats["#bat"] > 6)|(teams_stats["#bat"] < 3)|(teams_stats["#bowl"] > 6)|(teams_stats["#bowl"] < 3)|(teams_stats["#allr"] > 4)|(teams_stats["#allr"] < 1)|(teams_stats["#wk"] > 4)|(teams_stats["#wk"] < 1)|(teams_stats["#team1"] > 7)|(teams_stats["#team2"] > 7), "invalid"] = 1
teams_stats.invalid.sum()
teams_stats = teams_stats[teams_stats.invalid==0].reset_index(drop=True)
teams_stats.shape

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

0

(271259, 11)

In [66]:
teams.shape
teams = teams.merge(teams_stats["teamid"], how='inner', left_on='teamid', right_on='teamid').reset_index(drop=True)
teams.shape

(3358751, 12)

(2983849, 12)

In [0]:
teams_stats.shape
teams_stats.head()
teams_stats.tail()

(91169, 9)

   teamid  total_score  total_points  #bat  #bowl  #allr  #wk  #team1  #team2
0       0         96.0         370.0   3.0    6.0    1.0  1.0     7.0     4.0
1       1         95.5         305.0   3.0    6.0    1.0  1.0     7.0     4.0
2       2         97.5         350.5   3.0    5.0    2.0  1.0     7.0     4.0
3       3         97.0         384.5   3.0    5.0    2.0  1.0     7.0     4.0
4       4         97.0         389.0   3.0    5.0    2.0  1.0     7.0     4.0

       teamid  total_score  total_points  #bat  ...  #allr  #wk  #team1  #team2
91164   91164         97.0         388.5   4.0  ...    1.0  3.0     4.0     7.0
91165   91165         97.0         415.5   4.0  ...    1.0  3.0     4.0     7.0
91166   91166         97.0         368.5   4.0  ...    1.0  3.0     4.0     7.0
91167   91167         97.0         393.0   4.0  ...    1.0  3.0     4.0     7.0
91168   91168         97.0         420.0   4.0  ...    1.0  3.0     4.0     7.0

[5 rows x 9 columns]

In [46]:
len(teams_stats[teams_stats.total_score > 100])
len(teams_stats[(teams_stats["#bat"] > 6) | (teams_stats["#bat"] < 3)])
len(teams_stats[(teams_stats["#bowl"] > 6) | (teams_stats["#bowl"] < 3)])
len(teams_stats[(teams_stats["#allr"] > 4) | (teams_stats["#allr"] < 1)])
len(teams_stats[(teams_stats["#wk"] > 4) | (teams_stats["#wk"] < 1)])
len(teams_stats[teams_stats["#team1"] > 7])
len(teams_stats[teams_stats["#team2"] > 7])

4998

1

1

1

1

14331

14968